@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 17% 18%; /* #263238 */
    --foreground: 210 40% 98%;

    --card: 200 17% 22%;
    --card-foreground: 210 40% 98%;

    --popover: 200 17% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 174 40% 51%; /* #4DB6AC */
    --primary-foreground: 200 17% 10%;

    --secondary: 200 14% 29%; /* #37474F */
    --secondary-foreground: 210 40% 98%;

    --muted: 200 14% 25%;
    --muted-foreground: 240 5% 65%;

    --accent: 200 14% 29%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 200 14% 29%;
    --input: 200 14% 29%;
    --ring: 174 40% 51%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
